<div>
	<img class="backgroundImage" src="./assets/images/shutterstock_566760472.jpg">
	<div class="toshiba_logo"><img class="logoDimensions" src="assets/images/toshibaLogo.png"></div>
	<div class="resetDiv">
		<div class="resetText">Reset Password</div>
		<div class="We-will-send-you-an margin-bottom20">Enter your new password</div>
		<div class="colorRed" *ngIf="ErrorMessge">{{ErrorMessge}}</div>
		
		<form name="resetForm" (ngSubmit)="doReset(resetForm)" #resetForm="ngForm" (click)="formHealthCheck()">
			<div class="inner-addon left-addon inputDiv margin-bottom10">
				<img src="./assets/images/pwd-icon.png" class="fa-icon" />
				<input type="password" validateEqual="userCnfPassword" (paste)="false" reverse="true" [(ngModel)]="reset.password" #userPassword="ngModel"
					name="password" class="form-control inputText" placeholder="Password" required minlength="6"/>
				<div *ngIf="userPassword.invalid && resetForm.submitted">
					<div class="colorRed" *ngIf="userPassword.errors.required">Please enter Password</div>
					<div class="colorRed" *ngIf="userPassword.errors.minlength">Password must be at least 6 characters</div>
				</div>
			</div>
			<div class="inner-addon left-addon inputDiv margin-bottom20">
				<img src="./assets/images/pwd-icon.png" class="fa-icon" />
				<input type="password" validateEqual="userPassword" reverse="false" (paste)="false" [(ngModel)]="reset.conform_password"
					#userCnfPassword="ngModel" name="cnfpassword" class="form-control inputText" placeholder="Confirm Password" required/>
				<div *ngIf="userCnfPassword.invalid && resetForm.submitted">
					<div class="colorRed" *ngIf="userCnfPassword.errors.required">Please enter Confirm Password</div>
				</div>
					<div class="colorRed" *ngIf="passwordMismatch">{{passwordMismatch}}</div>
			</div>
			<div class="text-align-center margin-bottom20">
				<button class="btnForgot text-align-center">RESET</button>
			</div>
			<div class="colorSuccess" *ngIf="SuccessMessge">{{SuccessMessge}}</div>
		</form>

	</div>
</div>