<div>
	<img class="backgroundImage" src="./assets/images/loginImage.jpg">
	 <div class="signinDiv">
    <p class="signinText">User Login</p>
    <div *ngIf="loginError" class="errorMessage" id="errors">
      {{errorMessage}}
    </div>
		<!-- <div class="colorRed"*ngIf="ErrorMessge">{{ErrorMessge}}</div> -->
		<form novalidate class="margin-top10" [formGroup]="user" autocomplete="off" (onSubmit)="clearExisitingErrors();">
      <div class="inner-addon left-addon inputDiv margin-bottom10">
        <p>User Name/ User Id</p>
        <!-- <img src="./assets/images/mail-icon.png" class="fa-icon"/> -->
        <i class="glyphicon glyphicon-user user_img"></i>
        <input type="text" [(ngModel)]="model.email"  name="email" id="userEmail" class="form-control inputText" formControlName="email"  placeholder="E-mail"
        (click)="noWhiteSpace()" (focus)="clearExisitingErrors();" email required/>
      </div>
      <div class="inner-addon left-addon inputDiv margin-bottom20">
        <p>Password</p>
        <img src="./assets/images/pwd-icon.png" class="fa-icon"/>
        <input type="password" [(ngModel)]="model.password"  name="password" minlength="6" class="form-control inputText" formControlName="password"
        (focus)="clearExisitingErrors();" placeholder="Password" password required />
       
      </div>
      <div class="text-align-center margin-bottom20">
        <button  class="btnSignin text-align-center" (click)="login(model)" [disabled]="!user.valid">Login</button>
      </div>
		</form>
		<p class="Forgot-password" [routerLink]="['/forgotPassword']"> Forgot password?</p>
	</div> 	
</div>