<div>
	<img class="backgroundImage" src="./assets/images/shutterstock_566760472.jpg">
	<div class="toshiba_logo"><img class="logoDimensions" src="assets/images/toshibaLogo.png"></div>
	<div class="forgotDiv">
		<div class="forgotText">Forgot Password</div>
		<div class="We-will-send-you-an">We will send you an email with a link to reset your</div>
		<div class="We-will-send-you-an margin-bottom10">password</div>
		<div class="colorRed" *ngIf="ErrorMessge">{{ErrorMessge}}</div>

		<form name="forgotForm" (ngSubmit)="doForgot(forgotForm)" #forgotForm="ngForm" (click)="formHealthCheck()">
			<div class="inner-addon left-addon inputDiv margin-bottom20">
				<img src="./assets/images/mail-icon.png" class="fa-icon" />
				<input type="text" [(ngModel)]="forgot.email" name="email" #userEmail="ngModel" class="form-control inputText" placeholder="E-mail" email required/>
				<div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched || forgotForm.submitted)">
				<div class="colorRed" *ngIf="userEmail.errors.required">Please enter a valid Email</div>
				<div class="colorRed" *ngIf="!userEmail.errors.required && !userEmail.valid">Please enter valid Email</div>
			</div>
			</div>
			<div class="text-align-center margin-bottom20">
				<button class="btnForgot text-align-center">SUBMIT</button>
			</div>
		</form>
		<p class="Forgot-password" [routerLink]="['/']"> Back to sign in</p>
		<div class="colorSuccess"*ngIf="SuccessMessge">{{SuccessMessge}}</div>
		
	</div>
</div>