/*styles for home content only*/

.backgroundImage{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: none;
}

.forgotDiv{
    width: 360px;
    background-color: #ffffff;
    position: absolute;
    top: 38%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 15px;
    height: auto;
}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa-icon {
  position: absolute;
  padding: 18px 12px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa-icon  { left:  0px;}
.right-addon .fa-icon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  40px; }
.right-addon input { padding-right: 30px; }

.forgotText{
  width: 213px;
  height: 38px;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.23;
  text-align: left;
  color: #000000;
}
.inputText{
  width: 330px;
  height: 48px;
  background-color: #f7f7f8;
  font-size: 14px;
}
.btnForgot{
  color: #ffffff;
  background-color: #ff0000;
  width: 239px;
  height: 40px;
  border: #ff0000;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  cursor:pointer;
}
.Forgot-password {
  /*font-family: HelveticaNeue;*/
  font-size: 14px;
  text-align: center;
  color: #696d6f;
  cursor: pointer;
}
.We-will-send-you-an {
  width: 330px;
 font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.33;
  letter-spacing: -0.2px;
  text-align: left;
  color: #8c8c8c;
}
